
  <tbody>
    <tr>
      <th scope="row">{{ dados.id }}</th>
      <td>{{ dados.email }}</td>
      <td>{{ dados.first_name }}</td>
      <td>{{ dados.last_name }}</td>
      <td> <img [src]="dados.avatar" alt="Teste" width="200" height="200"> </td>
    </tr>
  </tbody>

  <!-- <p class="text-center" style="color: brown;"><strong>{{ dados.id }}</strong></p><br>
  <a href="#" data-toggle="collapse">
    <img [src]="dados.avatar" class="img-circle person" alt="Teste" width="200" height="200">
  </a> -->

